.site-header {
	nav {
		background-image: linear-gradient(93deg, #ff564b, #ff5648 49%, #fa6037);
		@media (max-width: 786px) {
			min-height: 60px;
		}
		.navbar-brand {
			margin-left: 49px;
			font-family: $font__avenir-heavy;
			font-size: 20px;
			line-height: 2.0;
			letter-spacing: 0.5px;
			color: #fff;
			&:hover {
				color: #fff;
				text-decoration: none;
			}
			@media (max-width: 786px) {
				text-align: center;
				margin-left: calc(50% - 75px);
				position: absolute;
			}
		}
		.custom-search {
			input {
				position: absolute;
				right: 20px;
				top: 5px;
				padding-right: 20px;
				background: url("img/search-icon.png") no-repeat scroll right center / 20px 20px;
				transition: all 0.5s ease 0s;
				width: 20px;
				height: 50px;
				border: 0;
					&:focus {
					width: 90%;
					background: linear-gradient(93deg, #ff564b, #ff5648 49%, #fa6037);
					z-index: 1100;
				}
				&::-webkit-input-placeholder {
			    color: #fff;
				}
				 
				&:-moz-placeholder {
				    color: #fff;
				}
				 
				&::-moz-placeholder {
				    color: #fff;
				}
				 
				&:-ms-input-placeholder {
				    color: #fff;
				}
			}
			.reset {
				display: none;
				margin-left: 10px;
				float: right;
				padding: 0;
				background-color: transparent;
				border: 0;
				color: #fff;
				font-size: 20px;
				@media (max-width: 786px) {
					position: absolute;
					right: 20px;
					z-index: 10000;
					top: 20px;
				}
			}
		}
		.share {
			position: fixed;
			z-index: 1000;
			width: 100%;
			height: 50px;
			top: -50px;
			left: 0;
			background-image: linear-gradient(93deg, #ff564b, #ff5648 49%, #fa6037);
			transition: top 0.67s linear;
			color: #fff;
			font-size: 16px;
			.container {
				margin: 18px 20px 0;
			}
			a {
				color: #fff;
				&:hover {
					text-decoration: none;
				}
			}
			.link-share {
				font-family: $font__avenir-medium;
			}
			.link-blog {
				font-family: $font__avenir-heavy;
				letter-spacing: 2px;
			}
			&.show {
				top: 0;
			}
		}
		.navbar-collapse {
			margin-left: 40px;
			.navbar-nav {
				li > a {
					font-family: $font__avenir-heavy;
					font-size: 14px;
					line-height: 0.86;
					letter-spacing: 0.2px;
					color: #fff;
					padding: 10px 25px;
				}	
			}
		}
		.navbar-toggler {
			border-color: transparent;
		}
		.navbar-toggler-icon {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
		}
	}

	.form-inline {
		.form-control {
			padding: 5px 20px 3px;
			background-color: transparent;
			border-radius: 100px;
			border: 1px solid #fff;
			-webkit-transition: width 400ms ease, background 400ms ease;
			transition: width 400ms ease, background 400ms ease;
			width: 210px;
			&:focus {
				box-shadow: none;
				cursor: text;
				outline: 0;
				width: 300px;
			}
			&::-webkit-input-placeholder {
		    color: #fff;
			}
			 
			&:-moz-placeholder {
			    color: #fff;
			}
			 
			&::-moz-placeholder {
			    color: #fff;
			}
			 
			&:-ms-input-placeholder {
			    color: #fff;
			}
		}
		.search-icon {
			margin-left: 10px;
		}
		.reset {
			display: none;
			margin-left: 10px;
			padding: 0;
			background-color: transparent;
			border: 0;
			color: #fff;
			font-size: 22px;
		}
		input[type="search"] {
		 	-webkit-appearance: textfield;
		}
	}
}