.site-header {
	nav {
		background-image: linear-gradient(93deg, #ff564b, #ff5648 49%, #fa6037);
		.navbar-brand {
			margin-left: 49px;
			font-family: $font__avenir-heavy;
			font-size: 20px;
			line-height: 0.6;
			letter-spacing: 0.5px;
			color: #fff;
			&:hover {
				color: #fff;
			}
			@media (max-width: 786px) {
				padding-left: 9px;
				padding-right: 9px;
			}		
		}
		.navbar-collapse {
			margin-left: 40px;
			.navbar-nav {
				li > a {
					font-family: $font__avenir-heavy;
					font-size: 14px;
					line-height: 0.86;
					letter-spacing: 0.2px;
					color: #fff;
					padding: 10px 25px;
				}	
			}
		}
	}

	.form-inline {
		.form-control {
			padding: 5px 20px 3px;
			background-color: transparent;
			border-radius: 100px;
			border: 1px solid #fff;
			-webkit-transition: width 400ms ease, background 400ms ease;
			transition: width 400ms ease, background 400ms ease;
			width: 210px;
			&:focus {
				box-shadow: none;
				cursor: text;
				outline: 0;
				width: 300px;
			}
			&::-webkit-input-placeholder {
		    color: #fff;
			}
			 
			&:-moz-placeholder {
			    color: #fff;
			}
			 
			&::-moz-placeholder {
			    color: #fff;
			}
			 
			&:-ms-input-placeholder {
			    color: #fff;
			}
		}
		.search-submit {
			background-color: transparent;
			background-image: url(img/search-icon.png);
			background-position: 0px center;
			background-repeat: no-repeat;
			background-size: 22px 22px;
			border: none;
			box-shadow: none;
			border-radius: 0;
			cursor: pointer;
			height: 32px;
			margin: 0;
			padding: 0 0 0 34px;
			position: relative;
			border-radius: 0;
			border: 0;
			border-color: transparent;
		}
		input[type="search"] {
		 	-webkit-appearance: textfield;
		}
	}
}