.author-header {
	background-color: #fbfbfb;
	padding: 42px 0;
	margin-bottom: 36px;
	.avatar {
		border-radius: 100px;
	}
	&__heading-2 {
		font-family: $font__avenir-medium;
		font-size: 24px;
		line-height: 1.5;
		margin-bottom: 0;
		color: #2e2e31;
	}
	&__description {
		font-family: $font__main;
		font-size: 14px;
		line-height: 1.57;
		color: #3c3c40;
	}
	&__url {
		font-family: $font__avenir-heavy;
		@extend .author-header__description;
		&:hover, &:focus, &:visited {
			color: #3c3c40;
		}
	}
}
.cat-posts {
	margin-bottom: 78px;
	img {
		margin-bottom: 19px;
	}
}