// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";



.nopadding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.site-content {
	margin-top: 30px;
}
@media (min-width: 1200px) {
	.container-fluid {
	    padding-right: 65px;
	    padding-left: 65px; 
	}
}

.valign {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}