@import "fonts/avenir";
body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}
strong {
	font-family: $font__avenir-heavy;
}
.entry-content {
	p {
		font-size: 21px;
		line-height: 1.57;
		letter-spacing: normal;
	}
	.strong--red {
		font-family: $font__avenir-heavy;
		color: #fc3d3b;
	}
}

@import "headings";

@import "copy";